<head>
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@600&family=Yuji+Mai&display=swap" rel="stylesheet">
</head>

<div class='top-wrapper'>
  <div class='top-inner-text'>
   <div class='yuji-mai-regular'>
    <h1>凡事徹底</h1>
   </div>
  </div>
</div>